In [2]:
-- Az adatok beolvasása JSON formátumban és kiírása azokról, akik 35 év felettiek.
DECLARE @json NVARCHAR(MAX);
SET @json = N'[
    {"PersonID": 1, "FirstName": "Alice", "LastName": "Smith", "age": 27, "City": "Los Angeles" }, 
    { "PersonID": 2, "FirstName": "Bob", "LastName": "Johnson", "age": 43, "City": "Chicago" }, 
    { "PersonID": 3, "FirstName": "Charlie", "LastName": "Williams", "age": 35, "City": "Houston" }, 
    { "PersonID": 4, "FirstName": "David", "LastName": "Jones", "age": 50, "City": "Miami" }, 
    { "PersonID": 5, "FirstName": "Emma", "LastName": "Brown", "age": 29, "City": "Seattle" }, 
    { "PersonID": 6, "FirstName": "Frank", "LastName": "Davis", "age": 38, "City": "Denver" }, 
    { "PersonID": 7, "FirstName": "Grace", "LastName": "Miller", "age": 44, "City": "San Francisco" }, 
    { "PersonID": 8, "FirstName": "Henry", "LastName": "Wilson", "age": 32, "City": "Boston" }, 
    { "PersonID": 9, "FirstName": "Ivy", "LastName": "Taylor", "age": 39, "City": "Portland" }, 
    { "PersonID": 10, "FirstName": "Jack", "LastName": "Anderson", "age": 48, "City": "Phoenix" }
]'; 

SELECT *
FROM OPENJSON(@json)
WITH ( 
    PersonID INT '$.PersonID',
    FirstName NVARCHAR(50) '$.FirstName',
    Lastname NVARCHAR(50) '$.LastName',
    age INT '$.age',
    City NVARCHAR(50) '$.City'
)
WHERE age >= 35;

PersonID,FirstName,Lastname,age,City
2,Bob,Johnson,43,Chicago
3,Charlie,Williams,35,Houston
4,David,Jones,50,Miami
6,Frank,Davis,38,Denver
7,Grace,Miller,44,San Francisco
9,Ivy,Taylor,39,Portland
10,Jack,Anderson,48,Phoenix