- Hozzon létre 3 lekérdezést, amelyeknél a GROUP BY speciális lehetőségeit használja

Listázza ki a férőhelyek összességéről csillagok száma, azon belül a szállás típusa alapján csoportosítva ROLLUP záradékkal

In [5]:
SELECT CSILLAGOK_SZAMA,
       TIPUS,
       SUM(FEROHELY)
FROM Szallashely JOIN Szoba ON Szallashely.SZALLAS_ID = Szoba.SZALLAS_FK
GROUP BY ROLLUP(CSILLAGOK_SZAMA, TIPUS);

CSILLAGOK_SZAMA,TIPUS,(No column name)
0,Apartman,46
0,Diákszálló,24
0,vendégház,72
0,NULL,142
3,Hotel,249
3,panzió,136
3,NULL,385
4,Hotel,188
4,NULL,188
NULL,NULL,715